.Products-container {
    display: flex;
    padding: 20px 20px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.Products-box {
    width: calc(280 / 1440 * 100vw);
    height: calc(480 / 1440 * 100vw);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 65%);
    text-align: center;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.Products-img {
    display: block;
    width: 100%;
    height: calc(360 / 1440 * 100vw);
}

h6 {
    color: #2e2e2e;
    font-weight: 600;
    margin: 10% 0 5% 0;
    display: block;
    font-size: calc(20 / 1440 * 100vw);
    line-height: calc(20 / 1440 * 100vw);
    font-family: 'Andika';
}

.Products-category {
    color:#6b0404;
    padding-right: 25px;
    margin-bottom: 3%;
    font-size: calc(18 / 1440 * 100vw);
    line-height: calc(20 / 1440 * 100vw);
    font-weight: 500;
}

.Products-info {
    width: calc(650 / 1440 * 100vw);
    height: calc(480 / 1440 * 100vw);
    background-color: rgb(255, 255, 255, 0.10);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 65%);
    text-align: left;
    border-radius: 3px;
    margin-left: 3%;
}

.Products-description {
    margin: 10% 0 3% 7%;
    width: calc(550 / 1440 * 100vw);
    height: calc(200 / 1440 * 100vw);
    color:#6b0404;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: bold;
}

.Products-cost{
    margin: 7% 0 3% 20%;
    display: inline-flex;
    width: calc(400 / 1440 * 100vw);
}

.Products-price{
    color:#6b0404;
    font-size: calc(24 / 1440 * 100vw);
    width: calc(100 / 1440 * 100vw);
    font-weight: bold;
}

.Products-button {
    margin-left: 15%;
    margin-top: -2%;
    width: calc(150 / 1440 * 100vw);
    height: calc(50 / 1440 * 100vw);
    border: 0;
    align-items: center;
    color: #FFFFFF;
    background: #6b0404;
    font-family: 'Andika';
    font-style: normal;
    font-weight: 700;
    font-size: calc(20 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    cursor: pointer;
    border-radius: 5px;
}

.Button-counter {
    width: calc(250 / 1440 * 100vw);
    height: calc(40 / 1440 * 100vw);
    background: rgb(255, 255, 255, 0.10);
    display: inline-flex;
    margin-left: 10%;
}

.Button-minus, .Button-plus {
    width: calc(30 / 1440 * 100vw);
    height: calc(30 / 1440 * 100vw);
    background: #000000;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: calc(18 / 1440 * 100vw);
    border: 0;
}

.Button-quantity {
    color:#6b0404;
    font-size: calc(18 / 1440 * 100vw);
    margin-top: 1%;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%;   
}

.Button-basket {
    width: calc(150 / 1440 * 100vw);
    height: calc(30 / 1440 * 100vw);
    border: 0;
    margin-left: 3%;
    align-items: center;
    color: #FFFFFF;
    background: #135c10;
    font-family: 'Andika';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    cursor: pointer;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .Products-box {
        width: calc(240 / 768 * 100vw);
        height: calc(380 / 768 * 100vw);
    }
    
    .Products-img {
        height: calc(300 / 768 * 100vw);
    }
    
    h6 {
        font-size: calc(18 / 768 * 100vw);
        line-height: calc(18 / 768 * 100vw);
        margin-top: 7%;
    }
    
    .Products-category {
        font-size: calc(16 / 768 * 100vw);
        line-height: calc(18 / 768 * 100vw);
        margin-left: 10%;
    }
    
    .Products-info {
        width: calc(450 / 768 * 100vw);
        height: calc(300 / 768 * 100vw);
        margin-left: -2%;
    }
    
    .Products-description {
        margin-top: 3%;
        width: calc(400 / 768 * 100vw);
        height: calc(180 / 768 * 100vw);
        font-size: calc(14 / 768 * 100vw);
    }
    
    .Products-cost{
        width: calc(350 / 768 * 100vw);
    }
    
    .Products-price{
        font-size: calc(20 / 768 * 100vw);
        width: calc(70 / 768 * 100vw);
    }
    
    .Products-button {
        width: calc(130 / 768 * 100vw);
        height: calc(40 / 768 * 100vw);
        font-size: calc(20 / 768 * 100vw);
        line-height: calc(16 / 768 * 100vw);
    }
    
    .Button-counter {
        width: calc(250 / 768 * 100vw);
        height: calc(30 / 768 * 100vw);
    }
    
    .Button-minus, .Button-plus {
        width: calc(30 / 768 * 100vw);
        height: calc(30 / 768 * 100vw);
        font-size: calc(18 / 768 * 100vw);
        line-height: calc(20 / 768 * 100vw);
    }
    
    .Button-quantity {
        font-size: calc(18 / 768 * 100vw);
    }
    
    .Button-basket {
        width: calc(130 / 768 * 100vw);
        height: calc(30 / 768 * 100vw);
        font-size: calc(16 / 768 * 100vw);
        line-height: calc(16 / 768 * 100vw);
    }
}